<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ParseApplicationID</key>
	<string>O57r9DEn3iXwcwerGwbhcwy75uZqyv0SDxNL4xO1</string>
	<key>ParseClientKey</key>
	<string>fDVg3qtJ1IwhYFh2TY56MlxDYqRCHMtk6tkKKi4K</string>
</dict>
</plist>
